{
    "zip":"{{ registration_details_zip }}",
    "country":"{{ registration_details_country }}",
    "city":"{{ registration_details_city }}",
    "last_name":"{{ registration_details_last_name }}",
    "industry":"{{ registration_details_industry }}",
    "eula":"{{ registration_details_eula }}",
    "title":"{{ registration_details_title }}",
    "phone":"{{ registration_details_phone }}",
    "company":"{{ registration_details_company }}",
    "state":"{{ registration_details_state }}",
    "department":"{{ registration_details_department }}",
    "first_name":"{{ registration_details_first_name }}",
    "email":"{{ registration_details_email }}"
}