{
    "configEntities": {
        "openIDSettings": {
        "_type": "openIDSettingsType",
        "enabled": true,
        "clientId": "{{ openid_client_id }}",
        "clientSecret": "{{ openid_client_secret }}",
        "configURL": "{{ openid_config_url }}",
        "externalURL": "{{ openid_external_url }}",
        "usernameClaim": "{{ openid_username_claim }}"
        }
    }
}